.menu__button {
  position: relative;
  width: 100%;

  & button {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 44px;
    padding: 0 24px;
    background: #2B2C36;
    
    // Text
    font-size: 14px;
    text-transform: uppercase;
    color: #BAC1CC;
    
    // Border
    border-bottom: 1px solid rgba(186, 193, 204, 0.1);
    
    // Misc
    cursor: pointer;
    transition: 0.3s ease-in-out background;
  
    &:hover{
      background: #23232c;
      & svg {
        transform: translateX(3px);
      }
    }
  }
}